* {
    box-sizing: border-box;
}

body {
    background-color: #c9f1ec;
}

.caja1 {
    background-color: #f1ade3;
    height: 150px;
    border: 1px solid rgb(255, 255, 255);
}

.caja2 {
    background-color: #cf9bfa;
    height: 150px;
    border: 1px solid rgb(255, 255, 255);
}

@media (max-width: 768px) {
    .rosita {
        display: none;
    }
}

@media (max-width: 992px) {
    .lila {
        display: none;
    }
}